<%- include("../partials/head") %>
<%- include("../partials/bodyStartWithNavBar/") %>
<%- include("../partials/sideNav") %>
<div id="layoutSidenav_content">
    <main>
        <%- include("../partials/alertMsg") %>
        <div class="page-header pb-10 page-header-dark">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-header-content">
                            <h1 class="page-header-title fs-md-35 fs-20">
                                <div class="page-header-icon">
                                    <i class="fad fa-at text-white"></i>
                                </div>
                                <span class="text-capitalize"> CASES FOR REVIEW </span>
                            </h1>
                            <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                View all cases for Review
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">
            <div class="card mb-4">

                <div class="card-header">cases</div>
                <div class="card-body">

                    <div class="datatable table-responsive">
                        <table border="0" cellspacing="5" cellpadding="5">
                            <tbody>
                                <tr>
                                    <td>From:</td>
                                    <td><input type="date" id="min" name="min"></td>
                                </tr>
                                <tr>
                                    <td>To:</td>
                                    <td><input type="date" id="max" name="max"></td>
                                </tr>
                            </tbody>
                        </table>
                        <% if (permissions.includes('download_review_excel')) { %>
                        <button type="button" id="excel" name="excel" value="" class="btn btn-secondary">excel</button>
                        <%}  %>
                        <table class="table table-bordered table-hover text-nowrap display" id="contestCategoryTable"
                            width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Sno.</th>
                                    <th>File NO</th>
                                    <th>Case Uploaded date</th>
                                    <th>Case Uploaded time</th>
                                    <th>Manager Name</th>
                                    <th>Manager Assigned Date</th>
                                    <th>Manager Assigned Time</th>
                                    <!-- <th>Manager Submit Date</th>
                                    <th>Manager Submit Time</th> -->
                                    <th>Senior Supervisor Name</th>
                                    <th>senior Supervisor Assigned Date</th>
                                    <th>senior Supervisor Assigned Time</th>
                                    <!-- <th>senior Supervisor Submit Date</th>
                                    <th>senior Supervisor Submit Time</th> -->
                                    <th>Supervisor Name</th>
                                    <th>Supervisor Assigned Date</th>
                                    <th>Supervisor Assigned Time</th>
                                    <th>Supervisor Submit Date</th>
                                    <th>Supervisor Submit Time</th>
                                    <th>Field executive Name</th>
                                    <th>Field executive Assigned Date</th>
                                    <th>Field executive Assigned Time</th>
                                    <th>Field executive Accepted Date</th>
                                    <th>Field executive Accepted Time</th>
                                    <th>Field executive Submitted Date</th>
                                    <th>Field executive Submitted Time</th>
                                    <th>km</th>
                                    <th>status</th>
                                    <th>Negative or Refer</th>
                                    <th>Customer Name</th>
                                    <th>Address Type</th>
                                    <th>Product</th>
                                    <th>Area</th>
                                    <th>Bank</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tfoot style="display:table-header-group" id="mine2">
                                <tr>
                                    <th>Sno.</th>
                                    <th>File NO</th>
                                    <th>Case Uploaded date</th>
                                    <th>Case Uploaded time</th>
                                    <th>Manager Name</th>
                                    <th>Manager Assigned Date</th>
                                    <th>Manager Assigned Time</th>
                                    <!-- <th>Manager Submit Date</th>
                                    <th>Manager Submit Time</th> -->
                                    <th>Senior Supervisor Name</th>
                                    <th>senior Supervisor Assigned Date</th>
                                    <th>senior Supervisor Assigned Time</th>
                                    <!-- <th>senior Supervisor Submit Date</th>
                                    <th>senior Supervisor Submit Time</th> -->
                                    <th>Supervisor Name</th>
                                    <th>Supervisor Assigned Date</th>
                                    <th>Supervisor Assigned Time</th>
                                    <th>Supervisor Submit Date</th>
                                    <th>Supervisor Submit Time</th>
                                    <th>Field executive Name</th>
                                    <th>Field executive Assigned Date</th>
                                    <th>Field executive Assigned Time</th>
                                    <th>Field executive Accepted Date</th>
                                    <th>Field executive Accepted Time</th>
                                    <th>Field executive Submitted Date</th>
                                    <th>Field executive Submitted Time</th>
                                    <th>km</th>
                                    <th>status</th>
                                    <th>Negative or Refer</th>
                                    <th>Customer Name</th>
                                    <th>Address Type</th>
                                    <th>Product</th>
                                    <th>Area</th>
                                    <th>Bank</th>
                                    <th>Action</th>

                                </tr>
                            </tfoot>
                            <tbody></tbody>

                            <tfoot style="display:table-header-group" id="mine1">
                                <tr>
                                    <th>Sno.</th>
                                    <th>File NO</th>
                                    <th>Case Uploaded date</th>
                                    <th>Case Uploaded time</th>
                                    <th>Manager Name</th>
                                    <th>Manager Assigned Date</th>
                                    <th>Manager Assigned Time</th>
                                    <!-- <th>Manager Submit Date</th>
                                    <th>Manager Submit Time</th> -->
                                    <th>Senior Supervisor Name</th>
                                    <th>senior Supervisor Assigned Date</th>
                                    <th>senior Supervisor Assigned Time</th>
                                    <!-- <th>senior Supervisor Submit Date</th>
                                    <th>senior Supervisor Submit Time</th> -->
                                    <th>Supervisor Name</th>
                                    <th>Supervisor Assigned Date</th>
                                    <th>Supervisor Assigned Time</th>
                                    <th>Supervisor Submit Date</th>
                                    <th>Supervisor Submit Time</th>
                                    <th>Field executive Name</th>
                                    <th>Field executive Assigned Date</th>
                                    <th>Field executive Assigned Time</th>
                                    <th>Field executive Accepted Date</th>
                                    <th>Field executive Accepted Time</th>
                                    <th>Field executive Submitted Date</th>
                                    <th>Field executive Submitted Time</th>
                                    <th>km</th>
                                    <th>status</th>
                                    <th>Negative or Refer</th>
                                    <th>Customer Name</th>
                                    <th>Address Type</th>
                                    <th>Product</th>
                                    <th>Area</th>
                                    <th>Bank</th>
                                    <th>Action</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("../partials/footer") %>
</div>


<script>
    $(window).on("load", function () {
        $("#preloader_admin").hide();
    });
</script>
<script type="text/javascript">
    var permissions = "<%=permissions%>".trim().split(",");
    $(document).ready(function () {
        $('#contestCategoryTable #mine2 th').each(function () {
            var title = $(this).text();
            if ($(this).text() == "Sno.") {
                $(this).html("");
            } else if ($(this).text() == "File NO") {
                $(this).html('<input type="text" size="2px" style="font-size:12px"  placeholder="' +
                    title + '" />');
            } else {
                $(this).html('<input type="text"  style="font-size:12px"  placeholder="' +
                    title + '" />');
            }

            if (title == "Action") {
                $(this).html("")
            }

        });
        $.fn.dataTable.ext.errMode = "none";
        var table = $("#contestCategoryTable").DataTable({
            "bLengthChange": false,
            orderCellsTop: true,
            fixedHeader: true,
            paging: true,
            processing: true,
            serverSide: true,
            searching: true,
            initComplete: function () {
                // Apply the search
                this.api()
                    .columns()
                    .every(function () {
                        var that = this;
                        $('input', this.footer()).keypress(function (e) {
                            if (e.keyCode == 13) {
                                e.preventDefault()
                                if (that.search() !== this.value) {
                                    that.search(this.value).draw();
                                }
                            }
                        });
                    });
            },
            language: {
                zeroRecords: "No records to display",
            },
            ajax: {
                url: `/case/reviewAdminCaseDataTable`,
                cache: false,
                type: "post",
                datatype: "json",
                data: function (data) {
                    var startDate = $('#min').val();
                    var endDate = $('#max').val();
                    data.startDate = startDate;
                    data.endDate = endDate;
                    if (permissions.includes('download_review_excel')) {
                        data.excel = $("#excel").val()
                    }
                },
                "dataSrc": function (json) {
                    $("#preloader_admin").hide();
                    if (json == "SUCCESS") {
                        var file_path = '/reviewEx/newFile.xlsx';
                        var a = document.createElement('A');
                        a.href = file_path;
                        a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                    } else if (json == "FAILED") {
                        alert("Some error occured while downloading excel")
                    } else if (json == "limit") {
                        alert("downloading cases are more than 3000,kindly reduce the date gap")
                    } else if (json == "noData") {
                        alert("no data found for selected filters")
                    }
                    $("#excel").val("")
                    if (json.data) {
                        return json.data
                    } else {
                        $("#preloader_admin").show();
                        table.draw()
                    }
                }
            },
            columns: [{
                    data: "count",
                },
                {
                    data: "fileNo",
                },
                {
                    data: "caseUploaded"
                },
                {
                    data: "caseUploadTime"
                },
                {
                    data: "managerName"
                },
                {
                    data: "managerAssignedDate"
                },
                {
                    data: "managerAssignedTime"
                },
                // {
                //     data: "ManagerSubmitDate"
                // },
                // {
                //     data: "ManagerSubmitTime"
                // },
                {
                    data: "seniorSupervisorName"
                },
                {
                    data: "seniorSupervisorAssignedDate"
                },
                {
                    data: "seniorSupervisorAssignedTime"
                },
                // {
                //     data: "seniorSupervisorSubmitDate"
                // },
                // {
                //     data: "seniorSupervisorSubmitTime"
                // },
                {
                    data: "supervisorName"
                },
                {
                    data: "supervisorAssignedDate"
                },
                {
                    data: "supervisorAssignedTime"
                },
                {
                    data: "supervisorSubmitDate"
                },
                {
                    data: "supervisorSubmitTime"
                },
                {
                    data: "fieldExecutiveName"
                },
                {
                    data: "fieldExecutiveAssignedDate"
                },
                {
                    data: "fieldExecutiveAssignedTime"
                },
                {
                    data: "fieldExecutiveAcceptedDate",
                },
                {
                    data: "fieldExecutiveAcceptedTime",
                },
                {
                    data: "fieldExecutiveSubmitDate",
                },
                {
                    data: "fieldExecutiveSubmitTime",
                },
                {
                    data: "km",
                },
                {
                    data: "status",
                },
                {
                    data: "remarks",
                },
                {
                    data: "applicantName",
                },
                {
                    data: "addressType",
                },
                {
                    data: "product",
                },
                {
                    data: "area",
                },
                {
                    data: "bank",
                },
                {
                    data: "action",
                },

            ],

        });
        $('#min, #max').on('change', function () {
            table.draw();
        });

        $("#excel").click(function () {
            if ($("#min").val() && $("#max").val()) {
                // date1 = moment($("#min").val()).format('YYYY/MM/DD')
                // date2 = moment($("#max").val()).add(1, 'days').format('YYYY/MM/DD');
                // let dateDiff = moment(date2).diff(moment(date1), 'days')
                // if (dateDiff <= 10) {
                // alert("downloading excel for the selected date range")
                $("#excel").val("excel")
                $("#preloader_admin").show();
                table.draw();
                // } else {
                //     alert("Date must be in between 10 days")
                // }
            }

            if (!$("#min").val() && !$("#max").val()) {
                alert("downloading excel for last 10 days")
                $("#excel").val("excel")
                $("#preloader_admin").show();
                table.draw();
            }
            if ($("#min").val() && !$("#max").val()) {
                alert("downloading excel for selected day")
                $("#excel").val("excel")
                $("#preloader_admin").show();
                table.draw();
            }

        })

        $("#contestCategoryTable_filter").css('display', 'none')


    });
</script>