<%- include("../../partials/head") %>

    <%- include("../../partials/bodyStartWithNavBar") %>
        <%- include("../../partials/sideNav") %>
            <div id="layoutSidenav_content">
                <main>
                    <%- include("../../partials/alertMsg") %>
                        <div class="page-header pb-10 page-header-dark">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="page-header-content">
                                            <h1 class="page-header-title fs-md-35 fs-20">

                                                <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                                <span class=" text-capitalize">
                                                    CASE HISTORY
                                                </span>
                                            </h1>
                                            <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                                CASE HISTORY
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto mb-md-0 mb-3">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-n10">




                            <% for (var i=0; i <caseData.logs.length; i++ ) { %>
                                <div class="card">
                                    <div class="card-header">
                                        <%=i+1%>
                                    </div>
                                    <div class="card-body">
                                       
                                                    <table>
                                                       
                                                          
                                                            <% for (const key in caseData.logs[i]) {%>
                                                                <tr>
                                                                <td>
                                                                    <%=`${key}: ${caseData.logs[i][key]}`%>
                                                                   
                                                                </td>
                                                            </tr>
                                                               
                                                                <% } %>
                                                       
                                                    </table>
                                                
                                    </div>

                                </div>
                                <br>
                                <% } %>



                        </div>
            </div>
            </div>
            </div>
            </main>
            <%- include("../../partials/footer") %>
                <script>
                    $(window).on('load', function () {
                        $('#preloader_admin').hide();
                    })
                </script>