<%- include("../../partials/head") %>

<%- include("../../partials/bodyStartWithNavBar") %>
<%- include("../../partials/sideNav") %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="layoutSidenav_content">
    <main>
        <%- include("../../partials/alertMsg") %>
        <div class="page-header pb-10 page-header-dark">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-header-content">
                            <h1 class="page-header-title fs-md-35 fs-20">
                                <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                <span class=" text-capitalize">
                                    Route and Distance Calculator
                                </span>
                            </h1>
                            <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                Route and Distance Calculator
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">

            <div id="myModal" class="modal">
                <div class="modal-content  modal-sm">
                    <span class="close">&times;</span>
                    <div class="card">
                        <div class="card-header">Field Executive Distance Travelled</div>
                        <div class="card-body">
                            <div class="sbp-preview">
                                <div class="sbp-preview-content p-4">
                                    <div class="form-group col-md-6 col-12">
                                        <label class="control-label text-bold" for="fromDate">From<span></span></label>
                                        <input name="fromDate" class="form-control form-control-solid" type="text"
                                            style="width:105px;" placeholder="From" id="fromDate" />
                                    </div>
                                    <div class="form-group col-md-6 col-12">
                                        <label class="control-label text-bold" for="toDate">To<span></span></label>
                                        <input style="width:105px;" name="toDate"
                                            class="form-control form-control-solid" type="text" placeholder="to"
                                            id="toDate" />
                                    </div>
                                    <div class="form-group col-md-6 col-12">
                                        <label style="width:156px;" class="control-label text-bold"
                                            for="totalDistance">Total
                                            Distance<span></span></label>
                                        <input style="width:156px;" name="totalDistance"
                                            class="form-control form-control-solid" type="text"
                                            placeholder="Total Distance Travelled" id="totalDistance" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header">Field Executive Route and Distance Calculator</div>
                <div class="card-body">
                    <div class="sbp-preview">
                        <div class="sbp-preview-content p-4">
                            <form method="POST" action="/case/calculateDistanceFe" accept-charset="UTF-8"
                                id="distanceCalForm" class="j-forms row mx-0">
                                <div id="selectMember" class="form-icon-wrap">
                                    <div id="selectMembers" class="form-wrapper">
                                        <div class="form-group form-info" style="position: relative">
                                            <table border="0" cellspacing="5" cellpadding="5">
                                                <tbody>
                                                    <tr>
                                                        <td>FROM:</td>
                                                        <td><input type="date" required id="min" name="min"></td>
                                                    </tr>
                                                    <tr id="maxDate">
                                                        <td>TO:</td>
                                                        <td><input type="date" required id="max" name="max"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div id="selectMember" class="form-group form-info" style="position: relative">
                                            <label class="control-label text-bold" for="member">choose field
                                                executive<span></span></label>
                                            <select id="member" required
                                                class=" chosen-select form-control form-control-solid" name="member">
                                                <option value="" selected disabled>Select the field executive</option>
                                                <% for (let i =0; i <fieldExecutive.length;  i++ ) { %>

                                                <option value=<%=fieldExecutive[i]._id%>>
                                                    <%=fieldExecutive[i].fullName%> </option>

                                                <% } %>

                                            </select>
                                        </div>
                                        <div id="selectMember2" class="form-group form-info" style="position: relative">
                                            <label class="control-label text-bold" for="member">choose the
                                                action<span></span></label>
                                            <select id="action" required
                                                class=" chosen-select form-control form-control-solid" name="action">
                                                <option value="" selected disabled>Select the action</option>
                                                <option value="route">Check Fe daily route</option>
                                                <option value="distance">Check Fe monthly distance</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="submitButton" class="col-12 text-right mt-4 mb-2">
                                    <button class="btn btn-sm btn-success text-uppercase">
                                        <i class="far fa-check-circle"></i>&nbsp;submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("../../partials/footer") %>

    <script>
        var modal = document.getElementById("myModal");
        $(window).on('load', function () {
            $('#preloader_admin').hide();
            $("#action").val("")
        });

        $("#action").change(function () {
            if ($("#action option:selected").val() == "route") {
                $("#max").addClass("disabledbutton")
                $("#max").prop('disabled', true);
            } else if ($("#action option:selected").val() == "distance") {
                $("#max").removeClass("disabledbutton")
                $("#max").prop('disabled', false);
            }
        })

        $("#distanceCalForm").submit(function (e) {
            e.preventDefault();
            if ($("#action option:selected").val() === "route") {
                this.submit();
            } else if ($("#action option:selected").val() === "distance") {
                let date1 = moment($("#min").val()).format('YYYY/MM/DD')
                let date2 = moment(moment($("#max").val()).format('YYYY/MM/DD')).add(1, 'days').format(
                    'YYYY/MM/DD');
                const dateDiff = moment(date2).diff(moment(date1), 'days')
                if (dateDiff <= 31) {
                    let data = {
                        id: $("#member").val(),
                        from: date1,
                        to: date2
                    }
                    $.ajax({
                        url: `/field-executive/distance`,
                        type: "post",
                        data: data,
                        success: function (data) {
                            $("#fromDate").val($("#min").val())
                            $("#toDate").val($("#max").val())
                            $("#totalDistance").val(data.totalDistance)
                            modal.style.display = "block"
                        }
                    })
                } else {
                    alert("Date must be in between 31 days")
                }

            }
        })

        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            modal.style.display = "none";
        }
    </script>